:root{
    --primary-color: red;
    --dark-color: black;
    --light-color:white;
}

*{
    margin: 0%;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: #999999;
}
#logo{
    width: 15%;
}

ul{
    list-style: none;
}
h1,h2,h3,h4{
    font-weight:lighter;
    color: white;
    margin: auto;
}
a{
    color: #ffffff;
    text-decoration: none;
}
p{
    margin: 0.5rem 0;
    font-weight: bold;
    color: #ffffff;
    margin: auto;
    width: 95%;
}
img{
    width: 100%;
}
.showcase{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("netflix1.jpg") no-repeat center center/cover;
}
.showcase::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}
.showcase-top{
    position: relative;
    z-index: 2;
    height: 90px;
}
.showcase-top img{
    width: 140px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(40%, -50%);
}

.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-60%, -50%);
    background: var(--primary-color);
    padding: 8px;
    width: 70px;
    text-align: center;
}
.btn:hover{
    cursor: pointer;
}
.showcase-content{
    position: relative;
    margin: 0 26%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 9rem;
}
@media screen and (max-width:939px){
    .showcase-content h1{
        font-size:20px;
    }
}
.showcase-content h1{
    font-weight: 700;
    font-size: 58px;
    margin: 0 30px;
    padding: 10px;
}


.showcase-content h3{
    color: white;
    font-size: 25px;
    margin: 16px 0;
}
.showcase-content p{
    font-size: 19.2px;
    font-weight: 300;
    padding-top: 00.5rem;
    padding-bottom: 1rem;
    /* width: 98%; */
}
.top-input{
    width: 140%;
    display: flex;
    justify-content: center;
}
.make-center{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
.top-mail-inp{
    width: 400px;
    padding: 20px;
    font-size: 20px;
}
.top-input button, .make-center button{
    width: 300px;
    padding:0;
    height: 67px;
    font-size: 30px;
    background: rgba(255, 4, 4, 0.884);
    color: white;
    outline: none;
    border: none;
}
.top-input button:hover, .make-center button{
    background: var(--primary-color);
    cursor: pointer;
}

.input button{
    display: inline-block;
    background: rgba(247, 5, 5, 0.767);
    color: white;
    padding: 0.9rem 1.5rem;
    font-size: 1.8rem;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    /* margin-right: 0.5rem; */
    outline: none;
    /* box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45); */
}

.btn-rounded{
    border-radius: 5px;
}
.input input{
    width: 30%;
    padding: 25px;
    margin: 0;
    border: none;
}
.input button{
    width: 250px;
    padding: 15px;
}
.input button:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}
@media screen and (min-width:949px){
    .input{
        display:block;
    
    }
    
}
@media screen and (max-width:550px) {
    .showcase-content h3{
        font-size: 24px;
        width: 150%;
    }
    .showcase-content p{
        font-size: 20px;
        width: 110%;
    }
    
}
@media screen and (max-width:930px){
    .top-input, .make-center{
        display: block;
    }
    .top-input button, .make-center button{
        width: 150px;
        height: 50px;
        font-size: 15px;
        margin: 10px auto;
        display: block;

    }
    .showcase-content h1{
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
}  
@media screen and (max-width:720px) {
    .top-mail-inp{
        width: 90%;
        height: 2%;
        padding: 10px;
    }
    .showcase-content h1{
      width: 118%;
    }
}
@media screen and (max-width:430px) {
    .showcase-content h1{
        font-size: 23px;
        width: 150%;
    }
    .showcase-content h3{
        font-size: 19px;

    }
    .showcase-content p{
        font-size: 16px;
    }
}
.card-0,.card-1,.card-2, .card-3, .f-a-q, .footer{
    border-top: 8px solid rgb(69, 69, 69);
    padding: 50px;
}
.card-0, .card-2{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc-0, .desc-2{
    padding-left: 80px;
}
.desc-2{
    padding-right: 20px;
}
.card-1, .card-3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc-1, .desc-3{
    padding-left: 100px;

}
.style-cards h1{
    font-size: 2.5rem;
    padding: 0.5rem;
    padding-left: 0;
    font-weight: 700;
}
.style-cards h3{
    font-size: 1.6rem;
    line-height: 2rem;
}
.card-0 video{
    position: relative;
    width: 100%;
    height: 54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}
.card-0 img, .card-2 img{
    grid-column: 2/2;
    grid-row: 1/2;
}
.card-2 img{
    width: 110%;
}
.card-2 video{
    position: relative;
    width: 70%;
    height: 70%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
    top: -20%;
    left: 20%;
}
  @media screen and (max-width:810px) {
    /* make Columnwise to cards */
  } 
.f-a-q{
    text-align: center;
}
.f-a-q h1{
   padding-bottom: 80px;
   font-size: 3.125rem;
   line-height: 1.1;
   font-weight: 700; 
}
@media screen and (min-width:550px) and (max-width:949px){
    .f-a-q h1{
        font-size: 2.5rem;
    }
}
.ques{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;
}
.ques li{
    padding: 20px 30px;
    margin: 5px;
    font-size: 20px;
    background: #303030;
    color: white;
    text-align: left;
    width: 60%;
}
.f-a-q p{
    padding-top: 60px;
    font-size: 1.2rem;
    font-weight: 200;
}
.input{
    display: inline-block;
    justify-content: center;
    margin: 10px;
}

.call:hover, .footer-list li:hover{
    text-decoration: underline;
}
.foot-div{
    max-width: 70%;
}
.footer p,.footer a{
    color: #999999;
    font-weight: 400;
    margin-bottom: 25px;
}
.margin-auto{
    margin:10px 15%;
}
.footer-list{
    display: grid;
    grid-template-columns: repeat(4,25%);
    gap: 2rem;
}
.footer-list li{
    padding-bottom:20px ;
}
@media only screen and (max-width: 650px){
.foot-div{
    width: 50%;
}
.margin-auto{
    margin:5%;
}
.footer-list{
    grid-template-columns: repeat(2,82%);
    gap: 0.6rem;
    font-size: 13px;
}
}
.select-lang{
    width: 150px;
    padding: 10px;
    color:rgb(219, 211, 211);
    border: 1px solid white;
    border-radius: 5px;
    background: black;
    font-size: 20px;
}
.top-select-lang{
    position: absolute;
    top: 28px;
    right:165px;
    width: 100px;
    font-size: 17px;
    color: white;
    background: transparent;
    padding: 7px;

} 
